---
import MainLayout from "../layouts/MainLayout.astro"

// Server Only
const name = 'Noel Sariñena Varela'
const title = 'Home page'
---

<MainLayout title="Home page">
		<h1>{name}</h1>

		<p>Momento actual: { new Date().toLocaleTimeString()}</p>
		<p id='current-time'></p>

		<script>
			// Client only
			const footer = document.querySelector('footer') as HTMLElement;
			const currentTime = document.querySelector('#current-time') as HTMLElement;
			
			currentTime.innerText = `Momento actual real: ${ new Date().toLocaleTimeString() }`
		</script>
</MainLayout>